<br>
<div class="container">    
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="../assets/images/calendar.png" alt="stack photo" class="img" style="width:270px;height:210px;">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2>Kalendarz twojej drużyny : </h2>
        </div>
        <p *ngIf="!(user.captain === '1')"> Aby akceptować wyzwania od innych drużyn musisz być kapitanem. Możesz zobaczyć terminarz rozgrywek twojej drużyny.</p>
        <p *ngIf="user.captain === '1'"> Akceptuj albo odrzuć wyzwanie od innej drużyny. Zobacz swój plan rozgrywek.</p>
        <p *ngIf="!user.team"> Nie należysz do żadnej drużyny. Nie możesz więc przeglądać terminarza.</p>
        <br><br><br><br>
        <button *ngIf="user.team && user.captain === '1'"type="button" class="btn btn-primary" [routerLink]="['/playrequests/' + user.team.id]"> Sprawdź prośby </button>
        <button *ngIf="user.team" type="button" class="btn btn-primary" [routerLink]="['/matchescalendar']"> Zobacz terminarz </button>
        <button *ngIf="user.team" type="button" class="btn btn-primary" [routerLink]="['/historicalmatches']"> Zobacz mecze </button>
      </div>
    </div>
  </div>
</div>

