<br>
<div class="container">    
  <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
            <img src="../assets/images/team.png" alt="stack photo" class="img" style="width:300px;height:220px;">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2 *ngIf="user.team">Już należysz do drużyny!</h2>
            <p *ngIf="user.team" class="card-text"> Jeżeli chcesz stworzyć nową drużynę<br> 
              opuść swoją obecną <br>
              a następnie wybierz opcję <br>
              stwórz drużynę.<br></p>
              <br *ngIf="user.team"><br *ngIf="user.team">
            <button *ngIf="user.team" type="button" class="btn btn-primary" [routerLink]="['/team']"> Wróć </button>          
            <h2 *ngIf="!user.team">Stwórz drużynę</h2>
          </div>
          <br>
          <form *ngIf="!user.team" [formGroup]="registerForm" (ngSubmit)="saveTeam(user,team)">
            <div class="form-group">
                <label>Nazwa</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [(ngModel)]="team.name" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Błędna nazwa</div>
                </div>
            </div>
            <div class="form-group">
                <label>Info</label>
                <input type="text" formControlName="info" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.info.errors }" [(ngModel)]="team.info" />
                <div *ngIf="submitted && f.info.errors" class="invalid-feedback">
                    <div *ngIf="f.info.errors">Za krótkie info</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Zapisz</button>                   
            </div>
          </form>
            <br><br>
        </div>
      </div>
  </div>
</div>