<br>
<div class="container">    
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
            <img src="../assets/images/team.png" alt="stack photo" class="img" style="width:300px;height:220px;">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2 *ngIf="(user.team.id == id)">Zawodnicy:</h2>
            <h2 *ngIf="!(user.team.id == id)">Zbłądziłeś</h2>
          </div>
            <br><br>
            <table *ngIf="user.team.id == id" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nick</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Pozycja</th>
                    <th scope="col">Opis</th>
                    <th *ngIf="user.captain === '1' && user.team.id == id" scope="col">Usuń</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let player of players">
                    <td>{{player.nick}}<a *ngIf="player.captain === '1'"> (C)</a></td>
                    <td>{{player.firstName}}</td>
                    <td>{{player.lastName}}</td>
                    <td>{{player.phone}}</td>
                    <td>{{player.position}}</td>
                    <td>{{player.info}}</td>
                    <td *ngIf="!(player.captain === '1') && user.captain === '1'"> <button type="button" class="btn btn-primary" (click)="deletePlayer(player)" [routerLink]="['/teamplayerrefresh/'+ id]"> Usuń </button> </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary" [routerLink]="['/team']"> Wróć </button>        
      </div>
    </div>
  </div>