.details li {
    list-style: none;
}
li {
    margin-bottom:10px;
}
.jumbotron {
    background-color: orange;
}
.label{
    color: Red;
}

button {
    margin-right: 10px;
}

img {
    margin-top:2em;
}