<br>
<div class="container">    
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
            <img src="../assets/images/team.png" alt="stack photo" class="img" style="width:300px;height:220px;">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
          <div class="container" style="border-bottom:1px solid black">
            <h2 *ngIf="(user.captain === '1') && (user.team.id == id)">Prośby:</h2>
            <h2 *ngIf="!(user.captain === '1') || !(user.team.id == id)">Zbłądziłeś</h2>
          </div>
            <br><br>
            <table *ngIf="(user.captain === '1') && (user.team.id == id)" class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nick</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Pozycja</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Dodaj</th>
                    <th scope="col">Odrzuć</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let request of requests">
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)">{{request.user.nick}}</td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)">{{request.user.firstName}}</td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)"> {{request.user.lastName}}</td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)">{{request.user.position}}</td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)">{{request.user.info}}</td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)"> <button type="button" class="btn btn-primary" (click)="acceptPlayer(request.user,request.id)" [routerLink]="['/teamrequestrefresh/'+ id]"> Dodaj </button> </td>
                    <td *ngIf="(request.enabled === 1) && !(request.user.team)"> <button type="button" class="btn btn-primary" (click)="deleteRequest(request.id)" [routerLink]="['/teamrequestrefresh/'+ id]"> Odrzuć </button> </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary" [routerLink]="['/team']"> Wróć </button>        
      </div>
    </div>
  </div>