<br>
<div class="container">    
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="../assets/images/match.png" alt="stack photo" class="img" style="width:300px;height:210px;">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2 *ngIf="(user.captain === '1')">Rzuć wyzwanie</h2>
          <h2 *ngIf="(user.captain === '0')"> Aby rzucić lub przyjąć wyzwanie innym drużynom musisz być kapitanem drużyny.</h2>
        </div>
        <br>
        <form *ngIf="(user.captain === '1')" [formGroup]="registerForm" (ngSubmit)="saveMatch(match)">
            <div class="form-group">
              <label>Miasto</label>
              <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" [(ngModel)]="match.city" />
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors">Błędne miasto</div>
              </div>
          </div>
          <div class="form-group">
              <label>Ulica</label>
              <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" [(ngModel)]="match.street" />
              <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                  <div *ngIf="f.street.errors">Błędna ulica</div>
              </div>
          </div>
          <div class="form-group">
              <label>Numer</label>
              <input type="text" formControlName="nr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nr.errors }" [(ngModel)]="match.nr" />
              <div *ngIf="submitted && f.nr.errors" class="invalid-feedback">
                  <div *ngIf="f.nr.errors">Błędny numer</div>
              </div>
          </div>
          <div class="form-group">
              <label>Data meczu</label>
              <input formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" id="match_date" name="match_date" [(ngModel)]="match.match_date" type="date" class="form-control" />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                  <div *ngIf="f.nr.errors">Data jest wymagana</div>
              </div>
          </div>
        <div class="form-group">
            <a>Godzina</a>
            <select formControlName="hour" [ngClass]="{ 'is-invalid': submitted && f.hour.errors }" class="form-control" id="hour" [(ngModel)]="match.hour" name="hour">   
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option> 
                    <option value="13">13</option>  
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>    
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option> 
                    <option value="23">23</option>
            </select>
            <div *ngIf="submitted && f.hour.errors" class="invalid-feedback">
                <div *ngIf="f.hour.errors">Godzina jest wymagana</div>
            </div>
            </div>
            <div class="form-group">
                <a>Minuta</a>
                <select formControlName="minute" [ngClass]="{ 'is-invalid': submitted && f.minute.errors }" class="form-control" id="minute" [(ngModel)]="match.minute" name="minute">            
                        <option value="00">00</option>    
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>   
                </select>
                <div *ngIf="submitted && f.minute.errors" class="invalid-feedback">
                    <div *ngIf="f.minute.errors">minuta jest wymagana</div>
                </div>
              </div>
            <div class="form-group">
                <button class="btn btn-primary">Zapisz</button> <button type="button" class="btn btn-primary" [routerLink]="['/profile']"> Wróć </button>               
            </div>
        </form>
          <button *ngIf="(user.captain === '0')" type="button" class="btn btn-primary" [routerLink]="['/match']"> Wróć </button>        
      </div>
    </div>
  </div>
</div>
