<div *ngIf="!loginuser" class="container">
        <div class="login-container">
            <div id="output"></div>
            <img class="avatar" src="../../assets/images/logo.png" alt="Logo">
            <div class="form-box">
<form *ngIf="!loginuser" #userForm="ngForm">
  <div class="form-group">
      <label for="firstName"> Imię </label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName">
  </div>
  <div class="form-group">
      <label for="lastName"> Nazwisko </label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName">
  </div>
  <div class="form-group">
      <label for="email"> Email </label>
      <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>
  <div class="form-group">
      <label for="password"> Hasło </label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="saveUser(user,userForm)"> Dołącz </button>
  </div>
</form>
</div>
</div>
</div>
<h2 *ngIf="loginuser"> Zbłądziłeś </h2>

