header {
    padding: 0px 0px 0px;
}
.killimanjaro-header{
    background-color:orange;
    padding: 60px 0 60px;
}
section {
    padding: 20px 0;
}
.lead {
    color: black;
}
h1 {
    color: black;
}
  