<header class="killimanjaro-header text-white">
    <div class="container text-center">
      <h1>Witaj w świecie siatkówki!</h1>
      <p class="lead">Dołącz do portalu, zbierz znajomych i graj już dziś! </p>
    </div>
  </header>

  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="../assets/images/home1.jpg">
              <div class="card-body">
                <p class="card-text">Zarejestruj się, dołącz do drużyny i razem umawiajcie się na mecze siatkówki.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
  <img class="card-img-top" src="../assets/images/home2.jpg">
              <div class="card-body">
                <p class="card-text">Załóż własny zespół, zostań kapitanem i poprowadź znajomych do zwycięstwa.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
  <img class="card-img-top" src="../assets/images/home3.jpg">
              <div class="card-body">
                <p class="card-text">Rzuć wyzwanie innym ekipom i bądź najlepszy w mieście. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>